Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [12]:
a=50
b=10.4
c="Hello"
print('a is',type(a))
print('b is',type(b))
print('c is',type(c))

a is <class 'int'>
b is <class 'float'>
c is <class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [13]:
str = "My Name is Adam"
if(str.isupper()):
    print('In Upper Case')
else:
    print('In Lower Case')

In Lower Case

Q3.What is the length of the given string?

String- "My Name is Adam"

In [1]:
str = "My Name is Adam"
print(len(str))

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [14]:
sum =0
list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
for i in list:
    sum=sum+i
print(sum)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [15]:
num =2
while(num<=12):
    print('Even numbers are:',num)
    num = num+2

Even numbers are: 2
Even numbers are: 4
Even numbers are: 6
Even numbers are: 8
Even numbers are: 10
Even numbers are: 12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [16]:
num = 2
while(num<=12):
    if(num%2==0):
        print(num)
        num=num+2

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [17]:
x=50
y=30
z=40
if(x<y):
    if(x<z):
        print(x,' is minimum')
    else:
        print(z, ' is minimum')
else:
    print(y, ' is minimum')

30  is minimum