# Introduction to Programming using Python

**Using Anaconda Distribution's Jupyter Notebook**

## Conditional Statements and Loops

## Conditional Statements

- `IF condtion`
- `IF-ELSE condition`
- `Nested IF-ELSE condtion`

### These statements are used to make decisions based on conditions

**Syntax**

    if test expression:
           statement(s)

## IF condition

In [4]:
#Example
x=0
if x>0:
    print('Hello World')

In [5]:
#Run the exact above code with x=0
#Write your codne here
if x==0:
    print('Condition not met')

Condition not met

## IF-ELSE condition

In [ ]:
#Example
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

## Nested IF-ELSE condition

In [11]:
# Write a code which can identify the largest number from 3 given numbers
c=10
a=20
b=50
if(a>b):
    if(a>c):
        print('a is largest')
    elif(b>c):
        print('b is largest')
elif(b>c):
    print('b is largest')
else:
    print('c is largest')

b is largest

## Advanced IF-ELSE

<img src ="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg" width=50% height =25%></img>

<h1 style ="font-family:Times;color:DarkBlue"> Ms. George is a CA and is just bored of manually calculating her clients' tax slabs. She asks her daughter's friend, YOU!, yes You , to  help her automate this boring stuff.</h1>

<h1 style ="font-family:Times;color:DarkBlue"><img src =" https://cdn.pixabay.com/photo/2018/01/14/23/10/bored-3082829__340.jpg" width=40% height =25%>
 Will you help her?</h1></img>

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [13]:

income = float(input('Enter your annual income :'))
if(income<=250000):
    print('Income tax : NIL')
elif(income>250000 and income<=500000):
    print('Income tax : 5%')
elif(income>500000 and income<=750000):
    print('Income tax : 10%')
elif(income>750000 and income<=1000000):
    print('Income tax : 15%')
elif(income>1000000 and income<=1250000):
    print('Income tax : 20%')
elif(income>1250000 and income<=1500000):
    print('Income tax : 25%')
else:
    print('Income tax : 30%')

Enter your annual income1500001
Income tax : 30%

# Loops
- FOR loop
- While loop

## `for` Loop

In [15]:
#Printing square from 1 to 10
square=0
for i in range(1,10):
    square = i*i
    print(square)

1
4
9
16
25
36
49
64
81

markdown : $$ð›¼^2$$

<h1 style ="font-family:Times;color:DarkBlue">Goods and Services Tax or simply GST. When this word comes, the local shopkeepers kind of feel irked because of the complex calculations and confusing guidelines. </h1>


<img src ="https://www.outlookindia.com/outlookmoney/public/uploads/article/gallery/a0bbda7bd6bac8ffd1816c339e5b71d8.jpg" width=60% height =25%></img>


<h1 style ="font-family:Times;color:DarkBlue">You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab.</h1>

<img src ="https://i.imgflip.com/v1ymo.jpg"></img>

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

#Given

Product Cost / GST Slab

Product1- 1000 / **18%**

Product2- 250 / **18%**

Product3- 125 / **5%**

Product4- 345 / **18%**

Product5- 820 / **12%**

Product6- 980 / **5%**

Product7- 500 / **12%**

In [16]:
CostPrice = float(input('Enter the CP of the product'))
gst=18
NetPrice = CostPrice+((CostPrice*gst)/100)
print(NetPrice)

Enter the CP of the product1000
1180.0

## Using IF-ELSE with for Loop

In [19]:
#Printing squares of even numbers from 1 to 100
square=0
for i in range(1,100):
    if(i%2==0):
        print('Square of',i,'is :',i*i)
    else:
        print(i,'is Not an even number')

1 is Not an even number
Square of 2 is : 4
3 is Not an even number
Square of 4 is : 16
5 is Not an even number
Square of 6 is : 36
7 is Not an even number
Square of 8 is : 64
9 is Not an even number
Square of 10 is : 100
11 is Not an even number
Square of 12 is : 144
13 is Not an even number
Square of 14 is : 196
15 is Not an even number
Square of 16 is : 256
17 is Not an even number
Square of 18 is : 324
19 is Not an even number
Square of 20 is : 400
21 is Not an even number
Square of 22 is : 484
23 is Not an even number
Square of 24 is : 576
25 is Not an even number
Square of 26 is : 676
27 is Not an even number
Square of 28 is : 784
29 is Not an even number
Square of 30 is : 900
31 is Not an even number
Square of 32 is : 1024
33 is Not an even number
Square of 34 is : 1156
35 is Not an even number
Square of 36 is : 1296
37 is Not an even number
Square of 38 is : 1444
39 is Not an even number
Square of 40 is : 1600
41 is Not an even number
Square of 42 is : 1764
43 is Not an even number
Square of 44 is : 1936
45 is Not an even number
Square of 46 is : 2116
47 is Not an even number
Square of 48 is : 2304
49 is Not an even number
Square of 50 is : 2500
51 is Not an even number
Square of 52 is : 2704
53 is Not an even number
Square of 54 is : 2916
55 is Not an even number
Square of 56 is : 3136
57 is Not an even number
Square of 58 is : 3364
59 is Not an even number
Square of 60 is : 3600
61 is Not an even number
Square of 62 is : 3844
63 is Not an even number
Square of 64 is : 4096
65 is Not an even number
Square of 66 is : 4356
67 is Not an even number
Square of 68 is : 4624
69 is Not an even number
Square of 70 is : 4900
71 is Not an even number
Square of 72 is : 5184
73 is Not an even number
Square of 74 is : 5476
75 is Not an even number
Square of 76 is : 5776
77 is Not an even number
Square of 78 is : 6084
79 is Not an even number
Square of 80 is : 6400
81 is Not an even number
Square of 82 is : 6724
83 is Not an even number
Square of 84 is : 7056
85 is Not an even number
Square of 86 is : 7396
87 is Not an even number
Square of 88 is : 7744
89 is Not an even number
Square of 90 is : 8100
91 is Not an even number
Square of 92 is : 8464
93 is Not an even number
Square of 94 is : 8836
95 is Not an even number
Square of 96 is : 9216
97 is Not an even number
Square of 98 is : 9604
99 is Not an even number

## `while` loop

In [1]:
#Printing square from 1 to 10
i=1

while(i<=10):
    print('Square of ',i,'is :',i*i)
    i=i+1

Square of  1 is : 1
Square of  2 is : 4
Square of  3 is : 9
Square of  4 is : 16
Square of  5 is : 25
Square of  6 is : 36
Square of  7 is : 49
Square of  8 is : 64
Square of  9 is : 81
Square of  10 is : 100

## Using IF-ELSE with `while` Loop

In [3]:
#Printing squares of even numbers from 1 to 100
i=1
while(i<=100):
    if(i%2==0):
        print('Square of ',i,'is :',i*i)
        i=i+1
    else:
        print(i,'is Not an even number')
        i=i+1

1 is Not an even number
Square of  2 is : 4
3 is Not an even number
Square of  4 is : 16
5 is Not an even number
Square of  6 is : 36
7 is Not an even number
Square of  8 is : 64
9 is Not an even number
Square of  10 is : 100
11 is Not an even number
Square of  12 is : 144
13 is Not an even number
Square of  14 is : 196
15 is Not an even number
Square of  16 is : 256
17 is Not an even number
Square of  18 is : 324
19 is Not an even number
Square of  20 is : 400
21 is Not an even number
Square of  22 is : 484
23 is Not an even number
Square of  24 is : 576
25 is Not an even number
Square of  26 is : 676
27 is Not an even number
Square of  28 is : 784
29 is Not an even number
Square of  30 is : 900
31 is Not an even number
Square of  32 is : 1024
33 is Not an even number
Square of  34 is : 1156
35 is Not an even number
Square of  36 is : 1296
37 is Not an even number
Square of  38 is : 1444
39 is Not an even number
Square of  40 is : 1600
41 is Not an even number
Square of  42 is : 1764
43 is Not an even number
Square of  44 is : 1936
45 is Not an even number
Square of  46 is : 2116
47 is Not an even number
Square of  48 is : 2304
49 is Not an even number
Square of  50 is : 2500
51 is Not an even number
Square of  52 is : 2704
53 is Not an even number
Square of  54 is : 2916
55 is Not an even number
Square of  56 is : 3136
57 is Not an even number
Square of  58 is : 3364
59 is Not an even number
Square of  60 is : 3600
61 is Not an even number
Square of  62 is : 3844
63 is Not an even number
Square of  64 is : 4096
65 is Not an even number
Square of  66 is : 4356
67 is Not an even number
Square of  68 is : 4624
69 is Not an even number
Square of  70 is : 4900
71 is Not an even number
Square of  72 is : 5184
73 is Not an even number
Square of  74 is : 5476
75 is Not an even number
Square of  76 is : 5776
77 is Not an even number
Square of  78 is : 6084
79 is Not an even number
Square of  80 is : 6400
81 is Not an even number
Square of  82 is : 6724
83 is Not an even number
Square of  84 is : 7056
85 is Not an even number
Square of  86 is : 7396
87 is Not an even number
Square of  88 is : 7744
89 is Not an even number
Square of  90 is : 8100
91 is Not an even number
Square of  92 is : 8464
93 is Not an even number
Square of  94 is : 8836
95 is Not an even number
Square of  96 is : 9216
97 is Not an even number
Square of  98 is : 9604
99 is Not an even number
Square of  100 is : 10000