On an average MMT gets 5000 queries a day with a SD of 500

Assuming a month contains 30 days, on what proportion of days MMT will have more than 5250 queries

Assuming a month contains 30 days, data is collected on 25 months and an average of 25 months is completed. What is the probability that average of 25 months is more than 5250

In [1]:
import numpy as np
import scipy.stats as stats
import math as mt

In [2]:
1 - stats.norm.cdf(5250,loc=5000,scale = 500)

0.3085375387259869

In [3]:
n = 25
s = 500/mt.sqrt(n)

1 - stats.norm.cdf(5250,loc=5000,scale = s)

0.006209665325776159

A survey was conducted with graduates from top 30 MBA programs. On the basis of the survey assume that the mean annual salary for male and female graduates 10 years after graduation is USD 168000
and USD 117000. Assume the SD for male graduates to be USD 40000 and that for female graduates to be USD 25000

1. What is the probability that a random sample of 40 male graduates will provide a sample mean within USD 10000
2. What is the probability that a random sample of 40 female graduates will provide a sample mean within USD 10000
3. In which of the preceeding 2 cases do we have a higher probability of obtaining a sample estimate within USD 10000 of the population mean and why
4. What is the probability that a sample of 100 male graduates will provide a sample mean of USD 4000 below the population mean

In [4]:
sd = 40000
n = 40
s = sd/mt.sqrt(n)

stats.norm.cdf(178000, loc=168000, scale = s) - stats.norm.cdf(158000,loc=168000, scale = s)

0.8861537019933419

In [5]:
sd = 25000
n = 40
s = sd/mt.sqrt(n)

stats.norm.cdf(127000, loc=117000, scale = s) - stats.norm.cdf(107000,loc=117000, scale = s)

0.9885879636139983

In [6]:
sd = 40000
n = 100
s = sd/mt.sqrt(n)

stats.norm.cdf(164000, loc=168000, scale = s)

0.15865525393145707

It is known that the average stay of tourist in Singapore hotels has been 3.4 nights. A tourism industry wanted to test whether recent changes in the nature of tourism to Singapore have changed from the past average. The analyst obtained the following random sample of the number of the nights spent by tourists in Singapore hotels: 5,4,3,2,1, 1,5,7,8,4,3,3,2,5,7,1,3,1,1,3,3,4,2,2,2,6,1,7. Conduct the test using the 0.05 level of significance.

In [7]:
nights = np.array([5,4,3,2,1,1,5,7,8,4,3,3,2,5,7,1,3,1,1,5,3,4,2,2,2,6,1,7])

In [8]:
nights.mean()

3.5

In [9]:
nights.std()

2.0959143930173156

Given:

Number of samples = 1

mu = 3.4

alpha = 0.05

1-Sample t-test (as population stdev is NOT known)

H0: mu = 3.4

H1: mu != 3.4

In [10]:
from scipy.stats import ttest_1samp

In [11]:
stats.ttest_1samp(nights, 3.4) # Python gives a 2-tailed result

Ttest_1sampResult(statistic=0.24791816116240142, pvalue=0.8060735232454601)

p-value > alpha value
Fail to Reject the NULL Hypothesis