In [1]:
import numpy as np
import pandas as pd
import math
from scipy import stats
from scipy.stats import ttest_1samp,ttest_ind,chi2_contingency
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sm

SAT verbal scores of two groups of students are given in SATVerbal.csv.
The first group, College, contains scores of students whose parents have at least a bachelorâ€™s degree and the second group, High School, contains scores of students whose parents do not have any college degree.
The Education Department is interested to know whether the sample data support the hypothesis that students show a higher population mean verbal score on SAT if their parents attain a higher level of education.

Hypothesis Formulation:

H0: mu1 = mu2 (The Population Means of the groups are equal)

H1: mu1 > mu2 (The Population Means of the College group is higher than the High School group)

In [2]:
df = pd.read_csv('SATVerbal.csv')

In [3]:
df.head()

   College  High School
0      485        442.0
1      534        580.0
2      650        479.0
3      554        486.0
4      550        528.0

In [4]:
len(df['College'])

16

In [5]:
len(df['High School'])

16

In [6]:
df['High School']

0     442.0
1     580.0
2     479.0
3     486.0
4     528.0
5     524.0
6     492.0
7     478.0
8     425.0
9     485.0
10    390.0
11    535.0
12      NaN
13      NaN
14      NaN
15      NaN
Name: High School, dtype: float64

In [7]:
data1 = df['College']

In [19]:
data2 = df['High School'][0:12]

In [20]:
data2

0     442.0
1     580.0
2     479.0
3     486.0
4     528.0
5     524.0
6     492.0
7     478.0
8     425.0
9     485.0
10    390.0
11    535.0
Name: High School, dtype: float64

In [21]:
len(data2)

12

In [22]:
np.std(data1)

57.5336857849382

In [23]:
np.std(data2)

49.54459270865658

### Unequal Sample Size & Unequal Variance

In [24]:
t_stat, p = stats.ttest_ind(data1, data2, equal_var = False)
print('t_statistic = %.3f, p_value = %.3f' % (t_stat, p))

t_statistic = 1.804, p_value = 0.083

Watch this video for reference:
https://www.youtube.com/watch?v=OyB_w4XNQ58