In [1]:
import numpy as np
import pandas as pd
import math
from scipy import stats
from scipy.stats import ttest_1samp,ttest_ind,chi2_contingency
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sm

In [ ]:
##SAT verbal scores of two groups of students are given in SATVerbal.csv.
##The first group, College, contains scores of students whose parents have
##at least a bachelorâ€™s degree and the second group, High School, contains
##scores of students whose parents do not have any college degree.
##The Education Department is interested to know whether the sample data
##support the hypothesis that students show a
##higher population mean verbal score on SAT if
##their parents attain a higher level of education.

In [2]:
df = pd.read_csv('SATVerbal.csv')

In [8]:
df.head()

   College  High School
0      485        442.0
1      534        580.0
2      650        479.0
3      554        486.0
4      550        528.0

In [ ]:
##Considering Two Sample T test with degrees of freedom as n1+n2-2

In [5]:
t_statistic,p_value4 = stats.ttest_ind(df['College'],df['High School'])

In [6]:
p_value4 = p_value4/2

In [7]:
print(t_statistic,p_value4)

nan nan