## Use the airquality Data Set. It contains Daily readings of the following air quality values for May 1, 1973 (a Tuesday) 
##to September 30, 1973.

## Data Dictionary
##Ozone: Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island

##Solar.R: Solar radiation in Langleys in the frequency band 4000â€“7700 Angstroms from 0800 to 1200 hours at Central Park

##Wind: Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport

##Temp: Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.

##Month: Month (in numbers 1 for Jan, 2 for Feb and so on)

##Day: Day (in numbers)

## Based on the dataset, answer the following.

## Standard Imports - pandas and numpy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Q1. Import the DataSet into Jupyter Notebook.

In [3]:
df = pd.read_csv('airquality.csv')
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Q2. How many observations are there in the object you just imported?

In [7]:
df.shape
df.info()
df.index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

RangeIndex(start=0, stop=153, step=1)

## Q3. How many Missing Values are there in the column Solar.R?

In [8]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [10]:
df['Solar.R'].isnull().sum()

7

## Q4. What was the Ozone Levels on 7th July?

In [19]:
# df[df['Month']== '7' and df['Day']==7]
df[(df['Month']==7) & (df['Day']==7)]['Ozone']

67    77.0
Name: Ozone, dtype: float64

## Q5. What has been the average temperature in the month of September?

In [52]:
df[df['Month']==9]['Temp'].mean()

76.9

In [50]:
df.groupby('Month')['Temp'].mean().iloc[4]

76.9

## Q6. What was the maximum windspeed observed in July?

In [24]:
df[df['Month']==7]['Wind'].max()

14.9

## Q7. Which month has the day with minimum amount of Solar Radiation?

In [53]:
Rmin = df['Solar.R'].min()
df[df['Solar.R']==Rmin]['Month']

81    7
Name: Month, dtype: int64

In [55]:
df.sort_values(by='Solar.R', ascending=True).head(1)

    Ozone  Solar.R  Wind  Temp  Month  Day
81   16.0      7.0   6.9    74      7   21

## Q8. Which month has the coldest day?

In [56]:
Tmin = df['Temp'].min()
df[df['Temp']==Tmin]['Month']

4    5
Name: Month, dtype: int64

In [58]:
df.sort_values(by='Temp',ascending=True).head(1)['Month']

4    5
Name: Month, dtype: int64

## Q9. Which was the hottest day? (Only day not month)

In [59]:
Tmax = df['Temp'].max()
df[df['Temp']==Tmax]['Day']

119    28
Name: Day, dtype: int64

In [61]:
df.sort_values(by='Temp', ascending=False).head(1)['Day']

119    28
Name: Day, dtype: int64

## Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [40]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [62]:
df[(df['Ozone']==78) & (df['Temp']==86)]['Day']

95    4
Name: Day, dtype: int64

In [46]:
df[(df.Ozone == 78) & (df.Temp == 86)]

    Ozone  Solar.R  Wind  Temp  Month  Day
95   78.0      NaN   6.9    86      8    4